@require "./variables"
@require "./fonts.css"
@require "normalizecss/normalize.css"
@require "./reset"
@require "./bespoke-base-fixed"
@require "./content-types"
@require "./slide-types"
@require "./bespoke-modes"
@require "./print"
@require "prismjs/themes/prism.css"
@require "prismjs/plugins/toolbar/prism-toolbar.css"

pre.code-toolbar > .toolbar {
    font-size .6em
    top 0px
    right 0px
    opacity 1
    span {
        padding 0
        color #555
        font-size 1em
        background none
        box-shadow none
        border-radius 0
    }
}
pre[class*="language-"],
code[class*="language-"] {
    text-shadow none
    border none
    box-shadow none
    padding .2em
    background none
}
pre[class*="language-"] {
    border 1px dashed #000
    border-left none
    border-right none
}
